# Zoom Server-to-Server OAuth
ZOOM_ACCOUNT_ID=your_account_id
ZOOM_CLIENT_ID=your_client_id
ZOOM_CLIENT_SECRET=your_client_secret
ZOOM_WEBHOOK_SECRET_TOKEN=your_webhook_secret_token

# Bunny.net
BUNNY_API_KEY=your_bunny_api_key
BUNNY_JC1_API_KEY=your_jc1_library_api_key
BUNNY_JC2_API_KEY=your_jc2_library_api_key
